.archive .share-btn-area {
  margin-bottom: 30px;
}

.archive a.arrow {
  width: 495px;
  height: 84px;
  line-height: 80px;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #2D2D2D;
  margin-right: 30px;
  margin-bottom: 30px;
}

.archive a.arrow.divide {
  margin-bottom: 90px;
}

.archive a.arrow:nth-of-type(2n) {
  margin-right: 0;
}

.archive a.arrow > span > span {
  font-weight: 300;
}

.archive a.arrow:hover {
  color: #FFFFFF;
}

.archive a.arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 39.5px;
  left: 43px;
  width: 40px;
  height: 1px;
  background: #E5002D;
}

.archive a.arrow::after {
  content: "";
  display: block;
  position: absolute;
  width: 11.5px;
  height: 11.5px;
  top: 34px;
  left: 68px;
  border-top: 1px solid #E5002D;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.archive a.arrow:hover::before {
  background: #ffffff;
}

.archive a.arrow:hover::after {
  border-top: 1px solid #ffffff;
}

.archive a.arrow.single {
  display: block;
  margin: 0 auto 30px auto;
}

@media screen and (max-width: 750px) {
  .archive .contents {
    text-align: center;
  }
  .archive .contents a.arrow {
    width: 314px;
    height: 50px;
    font-size: 12px;
    line-height: 46px;
    padding-right: 30px;
    text-align: right;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .archive .contents a.arrow::before {
    width: 23px;
    top: 25px;
    left: 28px;
  }
  .archive .contents a.arrow::after {
    width: 10px;
    height: 10px;
    top: 20px;
    left: 39px;
  }
  .archive .contents a.arrow:hover::before {
    left: 28px;
  }
  .archive .contents a.arrow:hover::after {
    left: 39px;
  }
  .archive .contents a.arrow span:after {
    width: 14px;
    height: 14px;
    top: 16px;
    right: 29px;
    background-size: 14px 14px;
  }
}
