main {
  margin-bottom: 160px;
}

.gallery2018 a.arrow {
  width: 580px;
  height: 84px;
  margin-bottom: 60px;
  font-size: 18px;
}

.gallery2018 a.arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 42px;
  left: 43px;
  width: 41px;
  height: 1px;
  background: #E5002D;
}

.gallery2018 a.arrow::after {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 36px;
  left: 68px;
  border-top: 1px solid #E5002D;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gallery2018 a.arrow:hover::before {
  background: #ffffff;
}

.gallery2018 a.arrow:hover::after {
  border-top: 1px solid #ffffff;
}

.gallery2018 .select-area .country {
  margin-bottom: 30px;
}

.gallery2018 .select-area .country a {
  display: inline-block;
  width: 252px;
  height: 64px;
  margin-left: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #2D2D2D;
  text-decoration: none;
  line-height: 64px;
  text-align: center;
  background-color: #F5F5F5;
  cursor: pointer;
}

.gallery2018 .select-area .country a:first-of-type {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  margin-left: 0;
}

.gallery2018 .select-area .country a:last-of-type {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.gallery2018 .select-area .country a.active, .gallery2018 .select-area .country a:hover {
  color: #FFFFFF;
  background-color: #2D2D2D;
  opacity: 1;
}

.gallery2018 .select-area .month {
  padding-bottom: 59px;
  border-bottom: 1px solid #F5F5F5;
  text-align: center;
}

.gallery2018 .select-area .month a {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-left: 114px;
  padding-top: 30px;
  box-sizing: border-box;
  border-radius: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #2D2D2D;
  text-decoration: none;
  text-align: center;
  background-color: #F5F5F5;
  cursor: pointer;
}

.gallery2018 .select-area .month a::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 61px;
  left: 37px;
  border-top: 1px solid #E5002D;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gallery2018 .select-area .month a::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 61px;
  right: 37px;
  border-top: 1px solid #E5002D;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.gallery2018 .select-area .month a:first-of-type {
  margin-left: 0;
}

.gallery2018 .select-area .month a.active, .gallery2018 .select-area .month a:hover {
  color: #FFFFFF;
  background-color: #E5002D;
  opacity: 1;
}

.gallery2018 .select-area .month a.active::before, .gallery2018 .select-area .month a.active::after, .gallery2018 .select-area .month a:hover::before, .gallery2018 .select-area .month a:hover::after {
  border-color: #FFFFFF;
}

.gallery2018 .result-area .result {
  display: none;
}

.gallery2018 .result-area .result:first-of-type {
  display: block;
}

.gallery2018 .result-area .result .game {
  padding: 60px 0 0 0;
}

.gallery2018 .result-area .result .game a {
  display: inline-block;
  width: 240px;
  height: 54px;
  box-sizing: border-box;
  border-radius: 27px;
  border: 1px solid #F5F5F5;
  margin-right: 20px;
  font-size: 12px;
  line-height: 52px;
  text-align: center;
  font-weight: bold;
  color: #2D2D2D;
  cursor: pointer;
  transition: 0.2s;
}

.gallery2018 .result-area .result .game a:nth-of-type(4n) {
  margin-right: 0;
  margin-bottom: 20px;
}

.gallery2018 .result-area .result .game a.active, .gallery2018 .result-area .result .game a:hover {
  color: #FFFFFF;
  background-color: #E5002D;
  opacity: 1;
}

.gallery2018 .result-area .result .game a.active::before, .gallery2018 .result-area .result .game a.active::after, .gallery2018 .result-area .result .game a:hover::before, .gallery2018 .result-area .result .game a:hover::after {
  border-color: #FFFFFF;
}

.gallery2018 .result-area .result .result-img {
  display: none;
}

.gallery2018 .result-area .result .result-img:nth-of-type(2) {
  display: block;
}

.gallery2018 .result-area .result .result-img h2 {
  position: relative;
  width: 100%;
  height: 138px;
  bottom: -2px;
  margin-top: 0;
  margin-bottom: 55px;
  border-bottom: 2px solid #F5F5F5;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.8px;
  color: #000000;
  font-weight: bold;
}

.gallery2018 .result-area .result .result-img h2 span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 138px;
  line-height: 138px;
  text-align: center;
}

.gallery2018 .result-area .result .result-img h2 span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: calc((100% - 320px) / 2);
  width: 320px;
  height: 2px;
  background-color: #E5002D;
}

.gallery2018 .result-area .result .result-img a {
  display: inline-block;
  width: 300px;
  height: 300px;
  vertical-align: top;
  margin-right: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.gallery2018 .result-area .result .result-img a:nth-of-type(3n) {
  margin-right: 0;
}

.gallery2018 .result-area .result .result-img a > img {
  margin-top: 50%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 750px) {
  main {
    margin-bottom: 50px;
  }
  .gallery2018 a.arrow {
    width: 314px;
    height: 50px;
    font-size: 11px;
    line-height: 50px;
    margin-bottom: 40px;
  }
  .gallery2018 a.arrow::before {
    width: 23px;
    top: 25px;
    left: 28px;
  }
  .gallery2018 a.arrow::after {
    width: 10px;
    height: 10px;
    top: 20px;
    left: 39px;
  }
  .gallery2018 .result-area .result .game {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0px;
    padding: 0;
  }
  .gallery2018 .result-area .result .game a {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #F5F5F5;
    margin-right: 5px;
    font-size: 10px;
    letter-spacing: 0.2px;
    line-height: 38px;
  }
  .gallery2018 .result-area .result .game a:nth-of-type(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .gallery2018 .result-area .result .game a:nth-of-type(2n) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .gallery2018 .result-area .result .game a.active, .gallery2018 .result-area .result .game a:hover {
    color: #FFFFFF;
    background-color: #E5002D;
    opacity: 1;
  }
  .gallery2018 .result-area .result .game a.active::before, .gallery2018 .result-area .result .game a.active::after, .gallery2018 .result-area .result .game a:hover::before, .gallery2018 .result-area .result .game a:hover::after {
    border-color: #FFFFFF;
  }
  .gallery2018 .result-area .result .result-img h2 {
    width: 100%;
    height: 52px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.56px;
  }
  .gallery2018 .result-area .result .result-img h2 span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 52px;
    line-height: 52px;
    text-align: center;
  }
  .gallery2018 .result-area .result .result-img h2 span:after {
    left: calc((100% / 2) - 100px);
    width: 200px;
  }
  .gallery2018 .result-area .result .result-img h2:nth-of-type(2), .gallery2018 .result-area .result .result-img h2:nth-of-type(3) {
    height: 74px;
  }
  .gallery2018 .result-area .result .result-img h2:nth-of-type(2) span, .gallery2018 .result-area .result .result-img h2:nth-of-type(3) span {
    height: 74px;
  }
  .gallery2018 .result-area .result .result-img a {
    display: inline-block;
    width: 157px;
    height: 157px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .gallery2018 .result-area .result .result-img a:nth-of-type(3n) {
    margin-right: 20px;
  }
  .gallery2018 .result-area .result .result-img a:nth-of-type(2n) {
    margin-right: 0;
  }
  .gallery2018 .result-area .result .result-img a > img {
    width: 157px;
    height: 157px;
    object-fit: contain;
  }
}
