.acf-map {
    width: 1020px;
    height: 500px;
}

/* fixes potential theme css conflict */
.acf-map img {
    max-width: inherit !important;
}

@media screen and (max-width: 750px) {
    .acf-map {
        width: 375px;
        height: 250px;
        margin-left: -20px;
        margin-bottom: 41px;
    }
}

main {
    margin-bottom: 100px;
}

.schedules .share-btn-area {
    margin-bottom: 30px;
}

.schedules .select-area .country {
    margin-bottom: 30px;
}

.schedules .select-area .country a {
    display: inline-block;
    width: 245px;
    height: 64px;
    margin-left: 4px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.64px;
    color: #2D2D2D;
    text-decoration: none;
    line-height: 64px;
    text-align: center;
    background-color: #F5F5F5;
    cursor: pointer;
    transition: 0.2s;
}

.schedules .select-area .country a:first-of-type {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    margin-left: 0;
}

.schedules .select-area .country a:last-of-type {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.schedules .select-area .country a.active,
.schedules .select-area .country a:hover {
    color: #FFFFFF;
    background-color: #2D2D2D;
    opacity: 1;
}

.schedules .select-area .area {
    text-align: center;
    font-weight: bold;
}

.schedules .select-area .area > div {
    display: none;
}

.schedules .select-area .area > div.selected {
    display: block;
}

.schedules .select-area .area .triple a {
    height: 54px;
    line-height: 54px;
}

.schedules .select-area .area .double a {
    height: 30px;
    vertical-align: middle;
    line-height: normal;
    align-items: center;
    letter-spacing: 0px;
}

.schedules .select-area .area a {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    font-size: 14px;
    color: #2D2D2D;
    letter-spacing: 0.56px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 7px solid #a09d9d;
    background-color: inherit;
    height: 35px !important;
    width: 260px !important;
    line-height: 35px !important;
    /* margin-top: 40px; */
}

.schedules .select-area .area a:last-of-type {
    margin-right: 0;
}

.schedules .select-area .area a.active,
.schedules .select-area .area a:hover {
    color: #2D2D2D;
    background-color: inherit;
    opacity: 1;
    border-bottom: 7px solid #E5002D;
}

.schedules .ranking {
    margin-bottom: 0;
}

.schedules .result-area {
    padding-bottom: 14px;
    margin-top: 20px;
}

.schedules tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}
.schedules tbody tr:nth-child(even) {
    background-color: #e1e1e1;
}

.schedules .result-area table {
    width: 100%;
    border-spacing: 0px 0.5em;
    border-collapse: collapse;

}

.schedules .result-area table > thead {
    border: 0;
    background-color: #2D2D2D;
}

.schedules .result-area table > thead > tr > th {
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans JP';
    letter-spacing: 0.48px;
    color: #ffffff;
    font-size: 14px;
    height: 54px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    width: 55px;
}

.schedules .result-area table > thead > tr > th:nth-of-type(8) {
    line-height: 16px;
}

.schedules .result-area table > thead > tr > th:after {
    background-color: #ffffff;
}

.schedules .result-area table > tbody > tr > td {
    height: 40px;
    text-align: center;
    padding: 0;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 13px;
    /* background: #d2d2d2; */
    overflow: hidden;
    border: none;
}


.schedules .result-area table > tbody > tr > td:first-of-type {
    width: 55px!important;
}

.schedules .result-area table > tbody > tr > td:nth-of-type(2) {
    /* position: relative;
    width: 55px;
    letter-spacing: 0.28px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden; */
}

.schedules .result-area table > tbody > tr > td:nth-of-type(2) span {
    position: absolute;
    display: inline-block;
    top: 14px;
    left: 20px;
    width: 55px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #F5F5F5;
    text-align: center;
    line-height: 40px;
}

.schedules .result-area table > tbody > tr > td:nth-of-type(2) span img {
    display: inline;
    max-width: 37px;
    max-height: 37px;
    background-color: #FFFFFF;
    vertical-align: middle;
    overflow: hidden;
}

.schedules .result-area table > tbody > tr > td:nth-of-type(3) {
    width: 55px;
    letter-spacing: 0.32px;
    overflow: hidden;
}

.schedules .result-area table > tbody > tr > td:nth-of-type(4) {
    width: 95px;
    letter-spacing: 0.32px;
    overflow: hidden;
}

.schedules .result-area table > tbody > tr > td:nth-of-type(5) {
    width: 55px;
    overflow: hidden;
}

.schedules .result-area table > tbody > tr > td:nth-of-type(6) {
    width: 55px;
    letter-spacing: 0.32px;
    overflow: hidden;
}

.schedules .result-area table > tbody > tr > td:nth-of-type(7) {
    width: 55px;
    letter-spacing: 0.32px;
    overflow: hidden;
}

.schedules .result-area table > tbody > tr > td:last-of-type {
    width: 55px;
    letter-spacing: 0.32px;
    overflow: hidden;
}

.schedules .result-area h5 {
    margin: 50px auto 0px auto;
    width: 1020px;
    height: 16px;
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #2D2D2D;
    font-weight: normal;
    text-align: right;
}
.schedules .area-items {
    width: 100px;
    background: #F2F2F2;
}
.schedules .btn-view {
    width: 100px;
    color: #fff;
    text-transform: uppercase;
}
.schedules .btn-view::after {
    padding: 9px;
    padding-top: 0px;
    padding-right: 0;
    display: inline-block;    
    content: "";    
    background-size: contain;    
    background-repeat: no-repeat;		   
     margin-left: 10px;    
     background-image: url(../img/more-mark.png);	    
}
.schedules .btn-dark{
    width: 60px;
    text-align: center;
    margin: 12px auto;
    background: #000;
    color: #fff;
    padding: 7px 15px;
}
.schedules .btn-dark:hover{
    opacity: .7;
}
@media screen and (max-width: 750px) {
    main {
        margin-bottom: 58px;
    }

    .schedules .share-btn-area {
        margin-bottom: 40px;
    }

    .schedules .select-area {
        margin-left: -20px;
        margin-right: -20px;
    }

    .schedules .select-area .country {
        margin-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
        .schedules .select-area .country {
            margin-bottom: 15px;
        }
    }

    .schedules .select-area .country a {
        width: 185.5px;
        height: 54px;
        margin-left: 0px;
        font-size: 12px;
        letter-spacing: 0.48px;
        font-weight: bold;
        line-height: 54px;
    }

    .schedules .select-area .country a:first-of-type {
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 4px;
    }

    .schedules .select-area .country a:last-of-type {
        border-radius: 0;
        margin-bottom: 0;
    }

    .schedules .select-area .country a:nth-child(2n+1) {
        margin-left: 0;
    }

    .schedules .select-area .area {
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
    }

    .schedules .select-area .area > div {
        display: none;
    }

    .schedules .select-area .area > div.selected {
        display: block;
    }
    @media screen and (max-width: 768px) {
        .schedules .select-area .area > div.selected {
            margin-bottom: 30px;
        }
    }

    .schedules .select-area .area a {
        position: relative;
        display: inline-grid;
        margin-right: 2px;
        margin-bottom: 2px;
        color: #2D2D2D;
        text-decoration: none;
        text-align: center;
        background-color: #F5F5F5;
    }

    .schedules .select-area .area a.active,
    .schedules .select-area .area a:hover {
        color: #2D2D2D;
        background-color: inherit;
        opacity: 1;
        border-bottom: 7px solid #E5002D;
    }

    .schedules .select-area .area .double a {
        background-color: inherit;
        position: relative;
        height: 30px;
        line-height: 15px;
        font-size: 12px;
        letter-spacing: 0.48px;
        width: 100% !important;
        margin-right: 0px !important;
    }
    @media screen and (max-width: 768px) {
        .schedules .select-area .area .double a {
            width: 44%!important;
        }
    }

    .schedules .select-area .area .double a:nth-of-type(2n) {
        margin-right: 0;
    }

    .schedules .select-area .area .triple a {
        width: 123px;
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        letter-spacing: 0.48px;
    }

    .schedules .select-area .area .triple a:nth-of-type(3n) {
        margin-right: 0;
    }

    .schedules .result-area {
        margin-top: 10px;
        padding-bottom: 0px;
    }

    .schedules .result-area .ranking {
        margin-left: -20px;
        margin-right: -20px;
    }

    .schedules .result-area .ranking .result-table {
        overflow: auto;
    }

    .schedules .result-area .ranking .result-table tr,
    .schedules .result-area .ranking .result-table td{
        letter-spacing: 1px;
    }

    .schedules .result-area table {
        margin: 0;
        border-spacing: 0px;
    }

    .schedules .result-area table > thead {
        border: 0;
        background-color: #2D2D2D;
    }

    /* .schedules .result-area table > thead > tr > th {
        text-align: center;
        font-weight: bold;
        font-family: 'Noto Sans JP';
        font-size: 10px;
        letter-spacing: 0.4px;
        color: #ffffff;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        padding: 0;
    }

    .schedules .result-area table > thead > tr > th:nth-of-type(8) {
        line-height: 14px;
    }

    .schedules .result-area table > thead > tr > th:after {
        background-color: #ffffff;
    }

    .schedules .result-area table > tbody > tr > td {
        height: 54px;
        text-align: center;
        padding: 0;
        font-family: Roboto Condensed;
        font-weight: 300;
        font-size: 16px;
        line-height: 54px;
    }

    .schedules .result-area table > tbody > tr > td:first-of-type {
        width: 100%;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(2) {
        position: relative;
        width: 100%;
        letter-spacing: 0.24px;
        box-sizing: border-box;
        text-align: center;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(2) span {
        position: absolute;
        display: inline-block;
        top: 0px;
        left: 9px;
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        border: 0;
        text-align: center;
        line-height: 54px;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(2) span img {
        max-width: 34px;
        max-height: 34px;
        border: 1px solid #F5F5F5;
        background-color: #FFFFFF;
        vertical-align: middle;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(3) {
        width: 100%;
        letter-spacing: 0.24px;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(4) {
        width: 100%;
        letter-spacing: 0.24px;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(5) {
        width: 100%;
        letter-spacing: 0.24px;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(6) {
        width: 100%;
        letter-spacing: 0.24px;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(7) {
        width: 100%;
        letter-spacing: 0.24px;
    }

    .schedules .result-area table > tbody > tr > td:last-of-type {
        width: 100%;
        letter-spacing: 0.24px;
        overflow: hidden;
    }

    .schedules .result-area h5 {
        width: 100%;
        height: 13px;
        margin-top: 28px;
        margin-bottom: 0;
        padding-right: 16px;
        box-sizing: border-box;
        font-size: 12px;
        letter-spacing: 0.48px;
        font-weight: normal;
    }
    .schedules .country-item {
        width: 100% !important;
        margin-right: 0px !important;
    } */
    /*
	Label the data
	*/
	/* .schedules .result-table td:nth-of-type(1):before { content: "ROUND"; }
	.schedules .result-table td:nth-of-type(2):before { content: "DATE"; }
	.schedules .result-table td:nth-of-type(3):before { content: "TIME"; }
	.schedules .result-table td:nth-of-type(4):before { content: "VENUE"; }
	.schedules .result-table td:nth-of-type(5):before { content: "TICKET"; }
	.schedules .result-table td:nth-of-type(6):before { content: "MATCH VIDEO"; }
	.schedules .result-table td:nth-of-type(7):before { content: "DETAIL"; }

	.schedules .conference-item {
	    width: 100% !important;
	    border-top: 1px solid #7f7f7f;
        margin-bottom: 10px;
	}
	.schedules .on-sale,
	.schedules .sold-out,
	.schedules .not-on-sale,
    .schedules .coming-soon,
    .schedules .archive {
        width: 110px !important;
        margin: 12px auto !important;
    } */
    .schedules .result-area {
        padding-bottom: 0px;
        margin-top: 15px;
    }
    .schedules .result-area .result-table {
        box-sizing: border-box;
        padding: 0 15px 15px 15px;
        overflow: auto;
    }
    .schedules .result-area .ranking {
        margin-left: -20px;
        margin-right: -20px;
    }

    .schedules .result-area .ranking .result-table {
        overflow: auto;
    }

    .schedules .result-area table {
        margin: 0;
        width: 100%;
        width: max-content;
        display: table;
    }
    .schedules .result-area table > thead {
        display: table-header-group;
        background: transparent;
    }
    .schedules .result-area table > thead tr {
        background: #2D2D2D;
    }
    .schedules .result-area table tbody {
        display: table-row-group;
    }
    .schedules .result-area table tr {
        display: table-row;
        position: relative;
        top: 0;
        left: 0;
        border: 0;
    }
    .schedules .result-area table > thead > tr > th,
    .schedules .result-area table td {
        display: table-cell;
        padding: 7px !important;
    }

    .schedules .result-area table > tbody > tr > td:nth-of-type(2),
    .schedules .result-area table > tbody > tr > td:nth-of-type(3) {
        white-space: nowrap;
        width: 110px !important;
        min-width: 100px;
    } 
}

.contents {
    width: 1200px;
    margin: 0px auto;
}

#dataTable1_length {
    display: none;
}
.breadcrumb {
    display: none;
}

.schedules .on-sale {
    margin: 5px auto;
    /* background: red; */
    color: red;
    height: 20px !important;
    line-height: 20px;
    width: 92px !important;
    padding: 5px 15px;
}
.schedules .sold-out {
    margin: 5px auto;
    /* background: #fff; */
    color: red;
    /* border: 1px solid red; */
    height: 20px !important;
    line-height: 20px;
    width: 92px !important;
    padding: 5px 15px;
}

.schedules .not-on-sale,
.schedules .coming-soon {
    /* background: #7F7F7F; */
    color: #919191;;
    height: 20px !important;
    line-height: 20px;
    width: 92px !important;
    padding: 5px 15px;
    margin: 5px auto;
}

.schedules .archive {
    background: #f9ddc2;
    color: red;
    height: 20px !important;
    line-height: 20px;
    width: 92px !important;
    padding: 5px 15px;
    margin: 5px auto;
}
.schedules .btn-view-disabled
{
    background: #7F7F7F;
    color: #fff;
    height: 20px !important;
    line-height: 20px;
    width: 60px !important;
    padding: 5px 15px;
    pointer-events: none;cursor: default;
    margin: 0px auto;
}
.schedules .country-item {
    width: 230px;
    margin-bottom: 5px;
}
